<!DOCTYPE html>
<html>

<head>
    @!include('layouts/partials/_head')
</head>

<body>
    @!include('layouts/partials/_navbar')
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">
                    @!include('layouts/partials/authenticated/_menu')
                </div>
                <div class="column is-9">
                    @!section('content')
                </div>
            </div>
        </div>
    </section>

    @!include('layouts/partials/_scripts')
    @!section('scripts')
</body>

</html>